header {
    padding: .5vw 1vw;
    background-color: var(--marrom-mais-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marrom-claro);
}

.auth {
    margin: 1.3vw 0 0 0;
    font-size: 1.2em;
    display: flex;
    gap: 1vw;
}

.title {
    font-family: 'bubble-butt';
    font-size: 3em;
    transform: rotate(-3deg);
    z-index: 1;
}

.title a {
    text-decoration: none;
}
