.message {
    border-radius: 5px;
    width: 30vw;
    word-wrap: normal;
    margin: auto;
    padding: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid;
}

.info {
    border-color: blue;
    background-color: var(--marrom-aclareado);
    /* background-color: cornflowerblue; */
}

.success {
    border-color: green;
    background-color: var(--marrom-aclareado);
    /* background-color: springgreen; */
}

.warning {
    border-color: peru;
    background-color: var(--marrom-aclareado);
    /* background-color: yellow; */
}

.error {
    border-color: red;
    background-color: var(--marrom-aclareado);
    /* background-color: indianred; */
}
