{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static "game/images/Forca.png" %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static "game/styles/general.css" %}">
        <link rel="stylesheet" href="{% static "game/styles/header.css" %}">
        <link rel="stylesheet" href="{% static "game/styles/main.css" %}">
        <link rel="stylesheet" href="{% static "game/styles/footer.css" %}">
        <link rel="stylesheet" href="{% static "game/styles/messages.css" %}">
        <title>{% block title %}Me Diga a... Palavra!{% endblock title %}</title>
    </head>
    <body>
        {% include "partials/header.html" %}
        <main>
            <aside></aside>
            <section class='main-section'>
            {% if messages %}
                {% for message in messages %}
                    <div class="message {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% block main %}{% endblock main %}
            </section>
            <aside></aside>
        </main>
        {% include "partials/footer.html" %}
    </body>
    <script src="{% static "game/scripts/main.js" %}"></script>
    <script src="https://kit.fontawesome.com/da322d4795.js" crossorigin="anonymous"></script>
</html>