{% extends "base.html" %}
{% load static %}

{% block title %}Descubra a palavra!{% endblock title %}

{% block main %}
    <section class="game">
        <h1 class="theme">{{theme}}</h1>
        <div class="game-arts">
            <img src="/static/game/images/{{random_number}}.png" class="{{class}} game-img">
            <img src="{% static "/game/images/Forca.png" %}" class='forca'>
        </div>
        <div class="wrong-answers">
            <p>Letras erradas: 
            {% for letter in wrong_answers %}
            <span class="letter">{{letter}}</span>
            {% endfor %}
            </p>
        </div>
        <div class="word">
            {% for letter in discovered_word %}
                <div class="letter">{{letter}}</div>
            {% endfor %}
        </div>
        <form action="{% url "forca:game" id=game_id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="game_id" value="{{game_id}}">
            <input type="hidden" name="random_number" value="{{random_number}}">
            <label for="guess">Tentativa:</label>
            <input type="text" name="guess" id="guess" maxlenght="1" required autofocus oninput="validateInput(this)">
        </form>
    </section>
{% endblock main %}